body {
	max-width: 400px;
	height: 615px;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 10px;
}

.launch-screen {
	display: none;
	background-image: url(../images/logo-big.png);
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	margin-top: 250px;
	height: 75px;
}

.get-location {
	display: none;
	background-image: url(../images/triple-bike-big.png);
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: center;
	margin-top: 150px;
	height: 350px;
}

.find-bike {
	display: block;
	margin: 0 auto;
	border: none;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 30px;
	font-family: 'Lobster', cursive;
	background-color: #FFFFFF;
}

.find-bike:hover {
	background-color: lightgray;
}

.main-content{
	display: none;
}

.header {
	text-align: left;
	margin-left: 10px;
	font-family: 'Lobster', cursive;
}

.fa-bars {
	float: right;
	margin-top: -55px;
	margin-right: 10px;
	font-size: 90px;
}

.map {
	text-align: center;
	height: 350px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-family: 'Merriweather Sans', sans-serif;
}

.map li {
	list-style-type: none;
	margin-left: 50px;
	font-family: 'Merriweather Sans', sans-serif;
}

.green-bike {
	background-image: url(../images/bike-icon-green.png);
	background-repeat: no-repeat;
	background-size: 30px;
}

.amber-bike {
	background-image: url(../images/bike-icon-orange.png);
	background-repeat: no-repeat;
	background-size: 30px;
}

.red-bike {
	background-image: url(../images/bike-icon-red.png);
	background-repeat: no-repeat;
	background-size: 30px;
}

.station-info {
	height: 140px;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-family: 'Merriweather Sans', sans-serif;
}

.scheme-name {
	margin-top: 10px;
	line-height: 3px;
	text-transform: capitalize;
}

.station-name {
	text-transform: capitalize;
}

.station-info li {
	list-style-type: none;
}

.directions {
	display: none;
	margin: 0 auto;
	margin-bottom: 10px;
	border: none;
	border: 2px solid black;
	border-radius: 5px;
	font-family: 'Merriweather Sans', sans-serif;
	background-color: #FFFFFF;
}

.menu {
	display: none;
	position: absolute;
	top: 20px;
	width: 250px;
	height: 100px;
	margin-left: 100px;
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.app-info {
	list-style-type: none;
	margin: 10px;
	font-family: 'Merriweather Sans', sans-serif;

}